body {
  color: #f1f0f0;
  text-align: left;
  background-color: #f1f0f0;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 1;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7;
}

p {
  max-width: 60ch;
  color: #8f8f8f;
  margin-bottom: 0;
}

a {
  color: #1e2a46;
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
  list-style-type: none;
}

img {
  width: 100%;
  display: inline-block;
}

.track {
  z-index: 0;
  width: 100vw;
  height: 1000vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  grid-template: "." 1fr
  / 1fr;
  grid-auto-columns: 1fr;
  align-content: end;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
  display: flex;
  position: relative;
}

.logo {
  z-index: 101;
  max-width: 147px;
  opacity: 1;
  outline-offset: 0px;
  background-color: rgba(0, 0, 0, .11);
  border-top: 4px solid #202c49;
  border-bottom: 0 solid #000;
  border-left: 0 solid #000;
  border-right: 2px solid #192542;
  border-top-right-radius: 20px;
  outline: 1px solid #292929;
  flex-direction: column;
  padding: 20px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 73.8vh;
  overflow: hidden;
  box-shadow: 0 2px 18px 5px rgba(0, 0, 0, .2);
}

.frame {
  width: 100%;
  height: 100%;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: relative;
}

.website-wrapper {
  z-index: 1;
  width: 9vw;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  filter: brightness(40%) grayscale();
  transform-style: preserve-3d;
  background-color: #fff;
  grid-template-rows: auto auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  margin-right: -18vw;
  transition: transform .4s;
  display: block;
  position: relative;
  transform: rotateX(-13deg)rotateY(21deg)rotateZ(0)perspective(1000px);
  box-shadow: 0 11px 15px rgba(0, 0, 0, .36);
}

.website-wrapper:hover {
  filter: brightness() grayscale(0%);
  transform: translate(0, -30px)rotateX(-13deg)rotateY(27deg)rotateZ(0)perspective(1000px);
}

.website-wrapper.w--current {
  z-index: 0;
  width: 90%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  filter: brightness() grayscale(0%) blur();
  background-color: rgba(241, 240, 240, .94);
  border: 1px solid #08a5a0;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-content: start;
  justify-content: start;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 0;
  display: grid;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: auto;
  overflow: hidden;
  transform: perspective(1000px);
  box-shadow: 0 3px 11px -1px rgba(0, 0, 0, .05);
}

.website-image {
  z-index: 0;
  object-fit: fill;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.website-content {
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-right: 20px;
  display: flex;
}

.website {
  align-items: flex-start;
  display: flex;
  position: relative;
  overflow: scroll;
}

.body {
  background-color: #f1f0f0;
}

.bg {
  z-index: 0;
  opacity: .97;
  filter: blur();
  background-color: #1e2a46;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.logo-content {
  z-index: 1;
  flex-direction: column;
  align-self: center;
  align-items: center;
  display: flex;
  position: relative;
}

.camera {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.contact-form {
  z-index: 3;
  min-height: 100vh;
  grid-column-gap: 21px;
  grid-row-gap: 21px;
  background-color: #222;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.portfolio-item-screen {
  width: 100vw;
  height: 100vh;
}

.frame-nav {
  max-height: 62px;
  max-width: 80vw;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: row-reverse;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.social-link {
  width: 23px;
  color: #1e2a46;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.connect {
  grid-column-gap: 13px;
  grid-row-gap: 13px;
  display: flex;
}

.badge {
  z-index: 0;
  max-width: 472px;
  opacity: .05;
  position: fixed;
  top: -23%;
  bottom: auto;
  left: auto;
  right: -15%;
}

.badge.alt {
  position: absolute;
  top: auto;
  bottom: -11%;
  left: -9%;
  right: auto;
}

.hero {
  z-index: 1;
  width: 100vw;
  min-height: 100vh;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  color: #1e2a46;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.button {
  color: #1e2a46;
  background-color: rgba(30, 42, 70, 0);
  border: 1px solid #1e2a46;
  transition: all .2s cubic-bezier(.455, .03, .515, .955);
}

.button:hover {
  color: #f1f0f0;
  background-color: #08a5a0;
  border-color: #08a5a0;
}

.button.alt {
  color: #f1f0f0;
  background-color: #1e2a46;
}

.button.alt:hover {
  background-color: #08a5a0;
  border-color: #08a5a0;
}

.button.green {
  color: #f1f0f0;
  background-color: #08a5a0;
  border-color: #08a5a0;
}

.button.green:hover {
  background-color: rgba(8, 165, 160, 0);
}

.instructions {
  margin-top: 29px;
  font-size: 13px;
  font-weight: 700;
}

.paragraph {
  max-width: 50ch;
}

.elfsight-embed {
  z-index: 1;
  width: 80%;
  flex: none;
  justify-content: flex-start;
  align-self: center;
  position: relative;
}

.portfolio-wrapper {
  z-index: 1;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  position: relative;
}

.html-embed {
  z-index: 4;
  position: relative;
}

.embed-wrapper {
  z-index: 1;
  color: #1e2a46;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  position: relative;
}

.buttons {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  display: flex;
}

.brand {
  max-width: 128px;
  margin: 10px;
}

.nav-container {
  min-height: 39px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-bar {
  z-index: 101;
  background-color: #1e2a46;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

@media screen and (max-width: 991px) {
  .logo {
    border-radius: 0;
  }

  .website-wrapper {
    filter: brightness(40%) grayscale();
  }

  .website-wrapper:hover {
    filter: brightness() grayscale(0%);
  }

  .body {
    color: #222;
  }

  .bg {
    opacity: .97;
    background-color: #1e2a46;
  }

  .logo-content {
    color: #f1f0f0;
  }

  .button {
    color: #1e2a46;
    background-color: rgba(30, 42, 70, 0);
    border: 2px solid #1e2a46;
  }

  .button:hover {
    color: #f1f0f0;
    background-color: #1e2a46;
  }
}

@media screen and (max-width: 479px) {
  .logo {
    transform-origin: 0 100%;
    transform: scale(.7);
  }

  .website-wrapper {
    width: 20vw;
    transform: translate(26px)rotateX(-13deg)rotateY(27deg)rotateZ(0)perspective(1000px);
  }

  .website-wrapper:hover {
    transform: translate(26px, 12px)rotateX(-13deg)rotateY(27deg)rotateZ(0)perspective(1000px);
  }

  .website-wrapper.w--current {
    flex-direction: column-reverse;
    display: flex;
  }

  .website-wrapper.w--current:hover {
    transform: perspective(1000px);
  }

  .website-content {
    padding-left: 10px;
  }

  .frame-nav {
    grid-column-gap: 39px;
    grid-row-gap: 39px;
    flex-direction: row;
    flex: 1;
  }

  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-container {
    padding-right: 20px;
  }
}


